body, p, button, h1, h2, h3 {
    margin: 0;
}

section {
    height: 100vh;
    display: flex;
    align-items: flex-end;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container__foreground {
    height: 80vh;
}

.container__background {
    
}